// Success Booking Page

.success-booking-page {
  margin: 140px 0 100px auto;
  color: $theme-text-color;

  .confirmation-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
  }

  .message {
    font-size: 16px;
    width: 60%;
    margin: auto;
    font-weight: 600;
    line-height: 1.5;
    color: #6f6f6f;
  }

  .view-tickets-btn {
    margin-top: 20px;
    border-radius: 30px;
  }

  img {
    object-fit: contain;
  }

  @include breakpoint(max-sm) {
    margin: 80px auto;

    img {
      height: 300px;
    }

    .confirmation-title {
      font-size: 20px;
      margin-top: 10px;
    }

    .message {
      width: 80%;
      font-size: 12px;
    }
  }
}

// User Profile Section
.user-profile-section {
  // background: #f7fbff;
  padding-top: 15rem;
  padding-bottom: 10rem;

  .user-profile {
    &--tab-item {
      font-size: 12px;
      max-width: 100%;
      margin-right: 0 !important;
      justify-content: flex-start;
      padding: 10px;

      &.Mui-selected {
        color: $main-theme-color;
        background: #f4f4f4;
      }

      &:focus {
        outline: none !important;
      }
    }

    &--form {
      input {
        font-size: 12px;
      }
    }
  }

  .MuiTabs-indicator {
    background: $main-theme-color;
  }

  .text-verified,
  .verify-phone-link {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    margin-left: 6px;
  }

  .btn-save {
    background: $main-theme-color;
    font-size: 12px;
  }
}

.counter--timeblock {
  background: rgb(91 91 91 / 40%);
  padding: 8px 16px;
  border-radius: 4px;
}

.avatar-profile {
  img {
    object-fit: fill;
  }
}
